.filter {
  display: flex;
  flex-direction: column;
  min-width: 1400px;
}
.infomation {
  display: flex;
  flex-direction: row;
  justify-content: center;
}


.registros{
  display: flex;
  flex-direction: row;
}