.CardMatch {
  background-color: rgba(0, 0, 0, 0.5);
  border: solid rgba(255, 255, 255, 0.5) 1px;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  height: 80px;
  max-width: 500px;
  align-items: center;
  padding: 5px;
}

.CardMatch p {
  margin: 0;
}

.reslta {
  background-color: rgba(255, 255, 255, 0.226);
}

.name {
  display: flex;
  max-width: 200px;
  padding-left: 10px;
}
